<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

    <targets>
        <target xsi:type="Console" name="console"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}" />

        <target xsi:type="ColoredConsole"
                name="coloredConsole"
                useDefaultRowHighlightingRules="false"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=toString}"
                >
            
            <!-- Highlight each log level word -->
            <highlight-word text="TRACE"  foregroundColor="White" />
            <highlight-word text="DEBUG"  foregroundColor="DarkGreen" />
            <highlight-word text="INFO"   foregroundColor="Gray" />
            <highlight-word text="WARN"   foregroundColor="Yellow" />
            <highlight-word text="ERROR"  foregroundColor="Red" />
            <highlight-word text="FATAL"  foregroundColor="White" backgroundColor="Red" />
        </target>
    </targets>

    <rules>
        <!-- Suppress output from Microsoft framework when non-critical -->
        <logger name="System.*" finalMinLevel="Warn" />
        <logger name="Microsoft.*" finalMinLevel="Warn" />
        <!-- Keep output from Microsoft.Hosting.Lifetime to console for fast startup detection -->
        <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" writeTo="coloredConsole" />

        <logger name="*" minlevel="Info" writeTo="coloredConsole" />
    </rules>
</nlog>